<section class="about-us" id="about-us">
  <div class="container">
    <div class="headline">
      Эраунд Текстиль
    </div>
    <div class="title">
      <h2>
        Мы - компания «Эраунд-Текстиль»
      </h2>
    </div>
    <p>
      Мы 9 лет создаем базовую нейтральную моду, в которую каждая компания может привнести индивидуальность, подчеркнув свой фирменный стиль и обеспечив себе узнаваемость
    </p>

    <div class="row">
      <div class="col-lg-6">
        <img src="img/about-us.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="about-us__wrapper">
            <div class="about-us__block">
              <strong>
                4321
              </strong>
              <p>Выполненых <br>
                заказов</p>
            </div>
            <div class="about-us__block">
              <strong>
                900
              </strong>
              <p>клиентов <br>
                в нашей базе</p>
            </div>
            <div class="about-us__block">
              <strong>
                30
              </strong>
              <p>сотрудников <br>
                работают для вас</p>
            </div>
            <div class="about-us__block">
              <strong>
                16
              </strong>
              <p>Участие в 16 <br>
                профильных выставках</p>
            </div>
          <p>
            Мы делаем обычный текстиль необычным арт-объектом, и никогда не выпускаем то, что не надели бы сами
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
