<div class="choice" id="choice">
  <div class="container">
    <div class="choice__wrapper" >
      <div class="choice__block" href="#price">
        {{mixins.icon('t-shirt')}}
        <p>
          Футболки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('polo-shirt')}}
        <p>
          Поло
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('hoodie')}}
        <p>
          Толстовки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('waistcoat')}}
        <p>
          Жилеты
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('handbag')}}
        <p>
          Холщовые
          сумки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('baseball-cap')}}
        <p>
          Бейсболки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('shirt')}}
        <p>
          Сорочки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('scarf')}}
        <p>
          Пледы и
          шарфы
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('apron')}}
        <p>
          Фартуки
        </p>
      </div>
      <div class="choice__block" href="#price">
        {{mixins.icon('jacket')}}
        <p>
          Ветровки и
          куртки
        </p>
      </div>
    </div>
  </div>
</div>
