<section class="clothes">
  <div class="container">
    <div class="title">
      <h2>
        Корпоративная одежда, <br>
        которую мы выпускаем уже много лет
      </h2>
    </div>
    <div class="clothes__wrapper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="clothes__block_wrapper">
              <div class="clothes__block">
                <img src="img/clothes-1.png" alt="">
                <h3>
                  Футболки
                </h3>
                <strong>
                  мужские, женские, детские
                </strong>
                <p>
                <span>
                  Ткань:
                </span>
                  <span>
                  100% хлопок
                </span>
                </p>
                <p>
                <span>
                  Цвета:
                </span>
                  <span>
                  10 вариантов
                </span>
                </p>
                <p>
                <span>
                  Размер:
                </span>
                  <span>
                  XS-XXXL
                </span>
                </p>
                <div class="button__wrapper">
                  <button class="button modal_open">
                    Узнать подробнее
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clothes__block">
              <img src="img/clothes-2.png" alt="">
              <h3>
                Поло
              </h3>
              <strong>
                мужские, женские, детские
              </strong>
              <p>
                <span>
                  Ткань:
                </span>
                <span>
                  100% хлопок
                </span>
              </p>
              <p>
                <span>
                  Цвета:
                </span>
                <span>
                  10 вариантов
                </span>
              </p>
              <p>
                <span>
                  Размер:
                </span>
                <span>
                  XS-XXXL
                </span>
              </p>
              <div class="button__wrapper">
                <button class="button modal_open">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clothes__block">
              <img src="img/clothes-3.png" alt="">
              <h3>
                Толстовки
              </h3>
              <strong>
                мужские, женские, детские
              </strong>
              <p>
                <span>
                  Ткань:
                </span>
                <span>
                  100% хлопок
                </span>
              </p>
              <p>
                <span>
                  Цвета:
                </span>
                <span>
                  12 вариантов
                </span>
              </p>
              <p>
                <span>
                  Размер:
                </span>
                <span>
                  XS-XXXL
                </span>
              </p>
              <div class="button__wrapper">
                <button class="button modal_open">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clothes__block">
              <img src="img/clothes-4.png" alt="">
              <h3>
                Жилеты
              </h3>
              <strong>
                промо-жилеты, летние, утепленные,
                светоотражающие
              </strong>
              <p>
                <span>
                  Ткань:
                </span>
                <span>
                  1хлопок, смесовые, полиэфирные
                </span>
              </p>
              <p>
                <span>
                  Цвета:
                </span>
                <span>
                  10 вариантов
                </span>
              </p>
              <p>
                <span>
                  Размер:
                </span>
                <span>
                  XS-XXXL
                </span>
              </p>
              <div class="button__wrapper">
                <button class="button modal_open">
                  Узнать подробнее
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    <div class="headline">
      одежда
    </div>
  </div>
</section>
