<section class="gallery" id="gallery">
  <div class="container">
    <div class="title">
      <h2>
        наши работы
      </h2>
      <p>
        Так может выглядеть корпоративная одежда вашей компании,
        если вы доверите ее изготовление и дизайн нам
      </p>
    </div>
    <div class="headline">
      Колекция
    </div>
    <div class="gallery__wrapper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="img/gallery-1.jpg" data-fancybox="gallery">
              <img src="img/gallery-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-2.jpg" data-fancybox="gallery">
              <img src="img/gallery-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-3.jpg" data-fancybox="gallery">
              <img src="img/gallery-3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-4.jpg" data-fancybox="gallery">
              <img src="img/gallery-4.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-1.jpg" data-fancybox="gallery">
              <img src="img/gallery-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-2.jpg" data-fancybox="gallery">
              <img src="img/gallery-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-3.jpg" data-fancybox="gallery">
              <img src="img/gallery-3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-4.jpg" data-fancybox="gallery">
              <img src="img/gallery-4.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-1.jpg" data-fancybox="gallery">
              <img src="img/gallery-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/gallery-2.jpg" data-fancybox="gallery">
              <img src="img/gallery-2.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
