<header class="header" style="background-image: url('img/header-bg.jpg')">

  {% include "partials/_nav.html" %}
  <div class="container">
    <div class="header__title">
      <h2>
        Мы гарантируем высокое качество!
      </h2>
      <h1>
        Ищете производителя качественной
        корпоративной одежды?
      </h1>
      <p>
        Так же к вашим услугам, нанесение логотипа от надежного производителя в Москве
      </p>
    </div>
    <div class="header__info">
      <ul>
        <li>
          Собственное производство,
          поэтому цены без накруток
        </li>
        <li>
          Большой выбор тканей
        </li>
        <li>
          Срок исполнения заказа
          от 2 дней
        </li>
        <li>
          Минимальный тираж <br>
          от 50 единиц
        </li>
      </ul>
    </div>
  </div>


</header>
