<div class="map">
  <div id="map">

  </div>
  <div class="contacts">
    <h2>
      Как нас найти
    </h2>
    <div class="contacts__wrapper">
      <div class="contacts__block ">
        <a href="tel:74957898838"><span>+7(495)</span> 7-898-838</a>
        <a href="tel:79654362449"><span>+7(965)</span> 436-24-49</a>
      </div>
      <div class="contacts__block ">
        <h3>
          Офис: г.Москва,
        </h3>
        <p>
          Большой каретный ряд,
          дом 20, строение 3
        </p>
      </div>
      <div class="contacts__block ">
        <h3>
          Почта:

        </h3>
        <p>
          <a href="mailto:gifts@aroundgroup.ru">
            gifts@aroundgroup.ru
          </a>
        </p>
      </div>
      <div class="contacts__block ">
        <h3>
          Производство:
        </h3>
        <p><span>МО,</span> г Королев,ул Школьная
        178 А</p>
      </div>
      <div class="contacts__block ">
        <a href="#">
          <img src="img/provider.png" alt="">
        </a>
      </div>
    </div>
  </div>

</div>
