<nav class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <a href="#">
        <img src="img/logo.svg" alt="" class="logo">
      </a>
      <div class="nav__adaptive">
        <ul class="menu">
          <li>
            <a href="#choice">
              Ассортимент
            </a>
          </li>
          <li>
            <a href="#price">
              Прайс
            </a>
          </li>
          <li>
            <a href="#gallery">
              Галерея
            </a>
          </li>
          <li>
            <a href="#about-us">
              О нас
            </a>
          </li>
          <li>
            <a href="#quality">
              Контроль качества
            </a>
          </li>
          <li>
            <a href="#work">
              Преимущества
            </a>
          </li>
          <li>
            <a href="#map">
              Контакты
            </a>
          </li>
        </ul>
        <div class="callback-info">
          <div class="tel">
            <a href="tel:+74957898838">
              <span>+7(495)</span> 789-88-38
            </a>
            <a href="tel:+7965436-24-49">
              <span>+7(965)</span> 436-24-49
            </a>
          </div>
          <a href="#" class="modal_open"> Заказать звонок</a>
          <div class="mail">
            <a href="mailto:gifts@aroundgroup.ru">
              gifts@aroundgroup.ru
            </a>
          </div>
        </div>
      </div>
      <div class="nav__button">
        <div class="nav__bar"></div>
      </div>
    </div>
  </div>
</nav>

