<section class="production">
  <div class="container">
    <div class="headline">
      ПРОИЗВОДСТВО
    </div>
    <div class="title">
      <h2>
        Отшиваем корпоративную одежду
        на собственном производстве
      </h2>
      <p>
        и отправляем ее вам напрямую, без посредников
      </p>
    </div>
    <div class="production__info">
      <p>
        Так мы решаем любые задачи, связанные с производством <br> промо-одежды
      </p>
      <p>
        Для пошива корпоративной и промо-одежды используем <br> современный программно-аппаратный комплекс на основе Grafis 11
      </p>
    </div>
    <div class="production__wrapper">
      <div class="production__block">
        <img src="img/prod-1.jpg" alt="">
        <h3>
          Современное оборудование
        </h3>
      </div>
      <div class="production__block">
        <img src="img/prod-2.jpg" alt="">
        <h3>
          Проверенные технологии
        </h3>
      </div>
      <div class="production__block">
        <img src="img/prod-3.jpg" alt="">
        <h3>
          Опытные внимательные сотрудники
        </h3>
      </div>
    </div>
  </div>
</section>
