<section class="quality" id="quality">

  <div class="quality__bg">
  </div>
  <div class="container">
    <div class="headline">
      качество
    </div>
    <div class="title">
      <h2>
        Самое важное для наших клиентов - качество
      </h2>
      <p>
        Мы контролируем его на каждом этапе выполнения заказа
      </p>
    </div>
    <div class="quality__wrapper">
      <div class="quality__block">
        <h3>
          Согласовываем макет.
        </h3>
        <p>
          Вы точно знаете, чего ожидать
        </p>
      </div>
      <div class="quality__block">
        <h3>
          Согласовываем ткани.
        </h3>
        <p>
          Вы уверены в качестве и
          знаете технические
          характеристики ткани
        </p>
      </div>
      <div class="quality__block">
        <h3>
          Согласование образца.
        </h3>
        <p>
          Выпустим сигнальный образец
          продукции, чтобы вы увидели,
          пощупали и оценили текстиль
        </p>
      </div>
      <div class="quality__block">
        <h3>
          Контроль качества главного
          технолога.

        </h3>
        <p>
          Контролируются
          все технологические процессы
        </p>
      </div>
      <div class="quality__block">
        <h3>
          Постпечатный контроль на
          стадии упаковки.

        </h3>
        <p>
          Вы точно знаете, чего ожидать
        </p>
      </div>
    </div>
    <div class="quality__info">
      <p>
        Пять этапов контроля полностью исключают брак. А если...
      </p>
      <p>
        ...если он все-таки обнаружится, мы очень быстро заменим его на продукциюбезупречного качества. Разумеется, за свой счет
      </p>
    </div>
  </div>
</section>
