<section class="technique">
  <div class="container">
    <div class="headline">
      техники
      нанесения
    </div>
    <div class="title">
      <h2>
        Что превращает текстиль <br>
        в узнаваемое лицо вашего бренда

      </h2>
      <p>
        Конечно, логотип!
      </p>
    </div>
    <span>
      Предлагаем четыре варианта техники нанесения  логотипов
    </span>
    <div class="technique__wrapper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="technique__block">
                <img src="img/tech-1.jpg" alt="">
                <div class="technique__block_text">
                  <h3>
                    Вышивка
                  </h3>
                  <p>
                    Наиболее качественный и престижный вид нанесения логотипа. Для тех, кто привык всегда выбирать лучшее
                  </p>
                  <div class="button__wrapper">
                    <button class="button modal_open">
                      Оформить заказ
                    </button>
                  </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="technique__block">
              <img src="img/tech-2.jpg" alt="">
              <div class="technique__block_text">
                <h3>
                  Шелкография
                </h3>
                <p>
                  Современный способ оперативного нанесения логотипа.Для больших партий текстиля при сжатых сроках
                </p>
                <div class="button__wrapper">
                  <button class="button modal_open">
                    Оформить заказ
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="technique__block">
              <img src="img/tech-3.jpg" alt="">
              <div class="technique__block_text">
                <h3>
                  Цифровая печать
                  на ткани
                </h3>
                <p>
                  Идеальный вариант для минимальных партий текстиля.
                </p>
                <div class="button__wrapper">
                  <button class="button modal_open">
                    Оформить заказ
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="technique__block">
              <img src="img/tech-4.jpg" alt="">
              <div class="technique__block_text">
                <h3>
                  Сублимация на ткани
                </h3>
                <p>
                  Точнейшая проработка каждой детали логотипа. Подходит даже для самого затейливого дизайна
                </p>
                <div class="button__wrapper">
                  <button class="button modal_open">
                    Оформить заказ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
