<section class="work" id="work">
  <div class="container">
    <div class="headline">
      Как мы работаем
    </div>
    <div class="title">
      <h2>
        Мы уверены, что сотрудничество с нами <br>
        будет для вас комфортным и выгодным
        Почему?
      </h2>
      <p>
        Почему?
      </p>
    </div>
    <div class="work__wrapper">
      <div class="work__block">
        {{mixins.icon('fashion')}}
        <p>
          Любые тиражи текстиля от 50 единиц до бесконечности
          Доступные цены на брендированную спецодежду, которая прослужит долго
        </p>
      </div>
      <div class="work__block">
        {{mixins.icon('work-2')}}
        <p>
          Комплексный подход к поддержанию корпоративного стиля. Выпускаем все, от бейсболок до спецодежды
        </p>
      </div>
      <div class="work__block">
        {{mixins.icon('work-3')}}
        <p>
          Удобные схемы оплаты ― от предоплаты 70% до отсрочки платежа на срок до 60 дней
        </p>
      </div>
      <div class="work__block">
        {{mixins.icon('work-4')}}
        <p>
          Курьерская доставка сигнального образца продукции в ваш офис
        </p>
      </div>
      <div class="work__block">
        {{mixins.icon('work-5')}}
        <p>
          Всегда бесплатная доставка по Москве
        </p>
      </div>
      <div class="work__block">
        {{mixins.icon('work-6')}}
        <p>
          Сотрудничество с надежными транспортными компаниями, осуществляющими доставку по России
        </p>
      </div>
    </div>
  </div>
</section>
